n8n-invoice-processing-workflow.json
{
  "name": "Invoice Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1e-ACqzatcs4YZAQddTfwMYl67PM_5tkR",
          "mode": "list",
          "cachedResultName": "Invoice assistant",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1e-ACqzatcs4YZAQddTfwMYl67PM_5tkR"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "56f2a519-e37b-4baf-8447-3117c7066acc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KaWT2A19mKB7QluG",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "invoice number",
              "description": "number of the invoice ",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "Name of the Client",
              "required": true
            },
            {
              "name": "Client Eamil",
              "description": "Email address of the Client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "address of the Client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "Phone number of the Client",
              "required": true
            },
            {
              "name": "Total  Amount",
              "description": "Total  Amount of  the invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "created date of the Invoice ",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "Due date of the Invoice ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        680,
        0
      ],
      "id": "fe6797f5-1b1b-4349-a4e9-e0aaa64da1b0",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=invoice number:{{ $json[\"invoice number\"] }}\nClient Name:{{ $json[\"Client Name\"] }}\nClient Eamil:{{ $json[\"Client Eamil\"] }}\nClient Address:{{ $json[\"Client Address\"] }}\nClient Phone:{{ $json[\"Client Phone\"] }}\nTotal  Amount:{{ $json['Total  Amount'] }}\nInvoice Date:{{ $json['Invoice Date'] }}\nDue Date:{{ $json['Due Date'] }}"
            },
            {
              "content": "=# overview\nyou are an email expert from green land named green grass. you have invoice information, from that information send an email to internal billing team that invice was resived/sent \n\n#eamil\ninform the billing team that alsow updated in invoice data base\nhere you can see\nhttps://docs.google.com/spreadsheets/d/1uaw7jjZmNA6K7RPHzNOEgDX0dqOVYMr_LQkqsOUqHFs/edit?gid=0#gid=0\n\n\n## Output\nOutput the following parameters separately:\nSubject\nEmail",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1260,
        0
      ],
      "id": "31d02473-d28f-45f5-bd6b-aa429469dcca",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "H0yv4hwQEtHcn8Nw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1860,
        0
      ],
      "id": "e3c7fb7b-ce74-44b9-8fb8-370e669bb018",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# Invoice Workflow",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        -160
      ],
      "typeVersion": 1,
      "id": "8ddb8080-32d9-47bf-b50e-0dd543e897fa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "31f98a11-19ec-48cb-82d0-ecd6eece3c55",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KaWT2A19mKB7QluG",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "prajwalgp624@gmail.com",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1660,
        0
      ],
      "id": "b443a3f8-2f5c-4c25-8096-6d73b8c52c28",
      "name": "Send Email",
      "webhookId": "89760595-5ca9-478f-b841-a89a29f1e9de",
      "credentials": {
        "gmailOAuth2": {
          "id": "3WCmJ6XqDr6wWgVt",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uaw7jjZmNA6K7RPHzNOEgDX0dqOVYMr_LQkqsOUqHFs",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uaw7jjZmNA6K7RPHzNOEgDX0dqOVYMr_LQkqsOUqHFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uaw7jjZmNA6K7RPHzNOEgDX0dqOVYMr_LQkqsOUqHFs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice number": "={{ $json.output['invoice number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Eamil": "={{ $json.output['Client Eamil'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total  Amount": "={{ $json.output['Total  Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice number",
              "displayName": "invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Eamil",
              "displayName": "Client Eamil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total  Amount",
              "displayName": "Total  Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        0
      ],
      "id": "54a2f75b-d529-43d4-80b3-29b2c12b5d5b",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VeVUMD2dfE0go0IH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        220
      ],
      "id": "d9419706-745a-4e1e-a345-4888dedc1752",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "H0yv4hwQEtHcn8Nw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "28751835-7e25-4dea-9e0b-ef162079ef32",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ce3831f-9864-4c18-a1b3-a38d52138088",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d674cf8f77a81e3eb082a61ecd6aba6031ec8b743173bd02fada9d2dde9b54d"
  },
  "id": "uFFL1dNF0fNT5ZQU",
  "tags": []
}